@import 'variables'
@import 'mixins'
@import 'utilities'

html, body
  background: $bgBlue

a, a.btn-link
  color: $linkColor
  font-weight: 200
  &:hover
    color: $linkColorHover
    text-decoration: none

.main-container
  width: $habitWidth
  margin: 30px auto


a.footer-toggle
  margin: 50px 0 40px
  color: darken($linkColor, 10%)
  &:hover
    color: darken($linkColorHover, 10%)

footer
  padding: 0 0 50px 0
  section
    padding-bottom: 30px
  h4
    color: white
    font-weight: 100
    letter-spacing: 0.1em
  a.btn-link
    text-indent: 5px
    text-align: left
    color: darken($linkColor, 10%)
    &:hover
      color: darken($linkColorHover, 10%)
  section.danger
    h4
      margin-bottom: 1em