@import 'variables'
@import 'mixins'
@import 'utilities'

.new-habit-input
  +transition(all 500ms ease-out)
  +unstyle-input
  border-radius: 4px
  margin: 6px 0
  color: white
  padding: 12px 15px
  height: 48px
  display: block
  width: 100%
  color: #fff
  font-size: 18px
  font-weight: 100
  letter-spacing: .1em
  border: 1px solid $element-blue
  -webkit-appearance: none
  opacity: .6
  &:hover
    opacity: 1
    cursor: pointer
  &:focus
    opacity: 1
    border-color: $element-green

*::-webkit-input-placeholder
  color: rgba(255,255,255,0.5)

*:-moz-placeholder
  color: rgba(255,255,255,0.5)

*::-moz-placeholder
  color: rgba(255,255,255,0.5)

*:-ms-input-placeholder
  color: rgba(255,255,255,0.5)


.habit-item
  +unselectable
  background: $element-blue
  border-radius: 4px
  padding: 12px 15px
  margin: 6px 0
  +transition(all 100ms ease-in-out)
  &:active
    background: lighten($element-blue, 5%)

  input.habit-input
    +unstyle-input
    +text-truncate
    height: 24px
    display: block
    width: 100%
    color: #fff
    font-weight: 100
    font-size: 18px
    letter-spacing: .1em
    cursor: pointer
    &:focus
      cursor: inherit
  label
    +transition(all 100ms ease-in-out)
    text-align: center
    height: 24px
    line-height: 24px
    margin-bottom: 0
    font-size: 20px
    color: #1F5490
    margin-right: 5px
    &:hover
      cursor: pointer
    &.marked
      color: #fff
    &:before
      padding: 10px

.habit-2
  background: adjust-hue($element-blue, -2deg)
  &:active
    background: lighten(adjust-hue($element-blue, -2deg), 5%)

.habit-3
  background: adjust-hue($element-blue, -4deg)
  &:active
    background: lighten(adjust-hue($element-blue, -4deg), 5%)

.habit-4
  background: adjust-hue($element-blue, -6deg)
  &:active
    background: lighten(adjust-hue($element-blue, -6deg), 5%)

.habit-5
  background: adjust-hue($element-blue, -8deg)
  &:active
    background: lighten(adjust-hue($element-blue, -8deg), 5%)

.habit-6
  background: adjust-hue($element-blue, -10deg)
  &:active
    background: lighten(adjust-hue($element-blue, -10deg), 5%)

.habit-7
  background: adjust-hue($element-blue, -12deg)
  &:active
    background: lighten(adjust-hue($element-blue, -12deg), 5%)

.habit-8
  background: adjust-hue($element-blue, -14deg)
  &:active
    background: lighten(adjust-hue($element-blue, -14deg), 5%)

.habit-9
  background: adjust-hue($element-blue, -16deg)
  &:active
    background: lighten(adjust-hue($element-blue, -16deg), 5%)

.habit-10
  background: adjust-hue($element-blue, -18deg)
  &:active
    background: lighten(adjust-hue($element-blue, -18deg), 5%)

.habit-11
  background: adjust-hue($element-blue, -20deg)
  &:active
    background: lighten(adjust-hue($element-blue, -20deg), 5%)

.habit-12
  background: adjust-hue($element-blue, -22deg)
  &:active
    background: lighten(adjust-hue($element-blue, -22deg), 5%)

.habit-13
  background: adjust-hue($element-blue, -24deg)
  &:active
    background: lighten(adjust-hue($element-blue, -24deg), 5%)

.habit-14
  background: adjust-hue($element-blue, -26deg)
  &:active
    background: lighten(adjust-hue($element-blue, -26deg), 5%)

.habit-15
  background: adjust-hue($element-blue, -28deg)
  &:active
    background: lighten(adjust-hue($element-blue, -28deg), 5%)

.habit-16
  background: adjust-hue($element-blue, -30deg)
  &:active
    background: lighten(adjust-hue($element-blue, -30deg), 5%)

.habit-17
  background: adjust-hue($element-blue, -32deg)
  &:active
    background: lighten(adjust-hue($element-blue, -32deg), 5%)

.habit-18
  background: adjust-hue($element-blue, -34deg)
  &:active
    background: lighten(adjust-hue($element-blue, -34deg), 5%)

.habit-19
  background: adjust-hue($element-blue, -36deg)
  &:active
    background: lighten(adjust-hue($element-blue, -36deg), 5%)

.habit-20
  background: adjust-hue($element-blue, -40deg)
  &:active
    background: lighten(adjust-hue($element-blue, -40deg), 5%)
