<div class="main-container" id="main">
  {{outlet}}
  <footer class="col-xs-12">
    <div class="feedback">
      <h4>Have Feedback?</h4>
      <a href="mailto:hello@kevnk.com" target="_blank">
        <i class="fa fa-envelope-o fa-lg"></i> &nbsp;Email me
      </a>
      <a href="https://trello.com/b/vDjWlJLg/habits-public-board" target="_blank">
        <i class="fa fa-trello fa-lg"></i> &nbsp;Add a card
      </a>
      <a href="https://github.com/kevnk/habits/issues" target="_blank">
        <i class="fa fa-github fa-lg"></i> &nbsp;Add an issue
      </a>
    </div>
  </footer>
</div>
