<div class="main-container" id="main">
  {{outlet}}
  <footer>
    <section class="feedback">
      <h4>Have Feedback?</h4>
      <a class="btn btn-link btn-block" href="mailto:hello@kevnk.com" target="_blank">
        <i class="fa fa-envelope-o fa-lg"></i> &nbsp;Email me
      </a>
      <a class="btn btn-link btn-block" href="https://trello.com/b/vDjWlJLg/habits-public-board" target="_blank">
        <i class="fa fa-trello fa-lg"></i> &nbsp;Add a card
      </a>
      <a class="btn btn-link btn-block" href="https://github.com/kevnk/habits/issues/new" target="_blank">
        <i class="fa fa-github fa-lg"></i> &nbsp;Add an issue
      </a>
    </section>
    <section class="danger">
      <h4>Danger Zone</h4>
      <a href="javascript:void(0)" onclick="r = confirm('Are you sure? \n\nThere is no undo!\nOnly consider if you can\'t get any habits to show after refreshing your page.'); if(r) window.location.href = '#/reset';" class="btn btn-lg btn-danger btn-block">Remove &amp; Reset <i>Everything</i></a>
    </section>

  </footer>
</div>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54551934-1', 'auto');
  ga('send', 'pageview');

</script>
