<div class="stats">
  <div id="running_daily_avg">
    <div class="avg-container">
      <div class="avg">{{displayAvg}}</div>
      <div class="avg-bar" {{bind-attr style=avgStyle}}></div>
    </div>
    <a title="<i class='fa fa-lg fa-bar-chart'></i> Overall Running Average" data-content="We take all your daily averages, and average them together. <br/><br/> The closer to 100% you can get, the better you're getting at completing your habits." data-placement="left">i</a>
  </div>
</div>


{{#if habits.length}}
<ul class="list-unstyled habit-list">
  {{#each habits}}
    {{view Habitapp.HabitItemView content=this idx=this.contentIndex}}
  {{/each}}
</ul>
{{/if}}

{{input enter="addNewHabit" placeholder="Add a habit" value=newHabitValue class="new-habit-input"}}
