<div class="main-container">
  <div class="avg-container">
    <div class="avg">{{displayAvg}}</div>
    <div class="avg-bar" {{bind-attr style=avgStyle}}></div>
  </div>

  {{#if habits.length}}
  <ul class="list-unstyled habit-list">
    {{#each habits}}
      {{view Habitapp.HabitItemView content=this}}
    {{/each}}
  </ul>
  {{/if}}

  <a class="btn btn-link btn-block btn-lg" {{action addNewHabit}}>+ New Habit</a>
</div>
